@use '../base/breakpoints' as b;
@use '../base/functions' as f;

.main{
    display: flex;
    flex-direction: column;
    margin: 0 20pt 0 20pt;
    font-family: var(--title-font);
}

.section{
    border:1px solid black;
    margin:f.rem(32) 0 0 0;
    padding:f.rem(24) f.rem(16) f.rem(24) f.rem(16);
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.photo{
    width: 50%;
    border-radius: f.rem(16);
    //margin:f.rem(24) 0 0 0;
}

.about-me{
    text-align: left;
}

.technologies{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon{
    height: f.rem(56);
    width: f.rem(56);
    margin: f.rem(16) f.rem(20) f.rem(16) f.rem(20);
}

.projects{
    text-align: center;
}

.projects-container{
    display: flex;
    flex-direction: column;
}
// %widget{
//     padding:f.rem(16);
// }

// .grid{
//     display: grid;
//     grid-template-columns: 1fr 2fr;
//     grid-template-rows:auto auto;
//     gap:f.rem(90);
//     //max-width: 1000px;
    
//     width: min(100% - f.rem(20),f.rem(1000));
//     margin-inline: auto;

//     @media(min-width:f.rem(900)){
//         grid-template-columns: 1fr 2fr;
//         grid-template-rows: auto auto;
//     }

//     @media(max-width:f.rem(899)){
//         padding-left: f.rem(20);
//         padding-right: f.rem(20);
//     }

//     @include b.breakpoint(large){
//         grid-template-columns:1fr 2fr;
//         grid-template-rows:auto;
//     }

//     &__main,
//     &__sidebar{
//         padding: f.rem(20);
//     }
//     &__main{
//         //background-color: hsl(240, 94%, 27%);
//         @include b.breakpoint(medium){
//             //background-color: hsl(120, 92%, 15%);
//         }
//         @include b.breakpoint(large){
//             //background-color: hsl(39, 94%, 28%);
//         }
//     }

//     &__sidebar{
        
        
//         @include b.breakpoint-down(medium){
//             text-align: center;
//         }

//         @include b.breakpoint-down(small){
//             text-align: left;
//         }
//     }

//     &__widget{
//         @extend %widget;
//     }

//     &__head{
//         padding-top: 0;
//     }
// }

