@use '../base/functions' as f;
@use '../base/breakpoints' as b;

.project-card{
    border: 2pt solid var(--primary-grayscale10);
    background-color: var(--primary-shade1);
    margin: f.rem(16) 0 f.rem(16) 0;
    color:var(--primary-grayscale10);
    position: relative;
    @include b.breakpoint(medium){
        text-align: center;
        height: 90%;
    }
    @include b.breakpoint(large){
        width: 80%;
    }
}

.project-picture{
    width: 100%;
    display: block;
    height: auto;
}

.card-overlay{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--secondary-tint4);
}

.project-card:hover .card-overlay{
    opacity: 0.50;
}

.project-card:active .card-overlay{
    opacity: 0.50;
    background-color: var(--primary-grayscale10);
}