@use '../base/functions' as f;
@use '../base/breakpoints' as b;

.project-card{
    border: 1px solid black;
    margin: f.rem(16) 0 f.rem(16) 0;
    @include b.breakpoint(medium){
        text-align: left;
    }
    @include b.breakpoint(large){
        width: 80%;
    }
}

.project-picture{
    width: 100%;
}