@use '../base/functions' as f;
@use '../base/breakpoints' as b;

.project-card{
    border: 1px solid white;
    background-color: var(--primary-shade1);
    margin: f.rem(16) 0 f.rem(16) 0;
    color:var(--primary-grayscale10);
    @include b.breakpoint(medium){
        text-align: center;
        height: 90%;
    }
    @include b.breakpoint(large){
        width: 80%;
    }
}

.project-picture{
    width: 100%;
}