@use '../base/functions' as f;
@use '../base/breakpoints' as b;

.contact-container{
    display: flex;
    flex-direction: column;
    font-size: f.rem(20);
    color:var(--primary-grayscale2);
    @include b.breakpoint(medium){
        align-items: center;
    }
}

.contact-title{
    font-size: f.rem(36);
    @include b.breakpoint(medium){
        width: 80%;
    }
    @include b.breakpoint(large){
        width: 60%;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    @include b.breakpoint(medium){
        width: 80%;
    }
    @include b.breakpoint(large){
        width: 60%;
    }
}

.contact-label{
    margin:f.rem(12) 0 f.rem(12) 0;
}

.contact-input{
    margin:f.rem(12) 0 f.rem(12) 0;
    padding:f.rem(12) f.rem(0) f.rem(12) f.rem(12);
    font-size: f.rem(16);
    font-family: var(--title-font);
    background-color: var(--primary-tint2);
    color:var(--primary-grayscale10);
    border:2pt solid var(--primary-grayscale10);
    &:focus{
        border: none;
    }
    @include b.breakpoint(medium){
        font-size: 16pt;
    }
}

.submit-container{
    display: flex;
    flex-direction: column;
    @include b.breakpoint(medium){
        align-items: center;
    }
}

.contact-submit{
    margin:f.rem(32) 0 f.rem(24) 0;
    padding:  f.rem(12) 0 f.rem(12) 0;
    font-size: f.rem(24);
    font-weight: 600;
    font-family: var(--title-font);
    background-color: var(--primary-shade1);
    border:2pt solid var(--primary-grayscale10);
    color:var(--primary-grayscale10);
    border-radius: f.rem(64);
    @include b.breakpoint(medium){
        width: 60%;
    }
    @include b.breakpoint(large){
        width: 40%;
    }
}

.contact-submit:hover{
    background-color: var(--primary-grayscale9);
    color:var(--primary-shade1);
    border:3pt solid var(--primary-shade1);
    cursor: pointer;
}

.contact-submit:active{
    background-color: var(--secondary-shade1);
    color:var(--primary-tint5);
    border:3pt solid var(--primary-tint5);
}

.social-container{
    margin:f.rem(8) 0 f.rem(8) 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    @include b.breakpoint(medium){
        width: 80%;
    }
    @include b.breakpoint(large){
        width: 60%;
    }
}


.social-icons{
    color:var(--primary-grayscale10);
    &:hover{
        color:var(--secondary-tint1);
    }
}