@use '../base/functions' as f;
@use '../base/breakpoints' as b;

.detail-container{
    border: 2pt solid var(--primary-grayscale9);
    background-color: var(--primary-tint3);
    color:var(--primary-grayscale2);
    margin:70pt 20pt 20pt 20pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
    @include b.breakpoint(medium){
        margin:f.rem(106) f.rem(64) f.rem(32) f.rem(64);
    }
}

.detail-title{
    text-align: center;
    font-size: 20pt;
}

.detail-image{
    width: 80%;
    height: 20%;
    border:3pt solid var(--primary-tint5);
    @include b.breakpoint(medium){
        width: 60%;
        height: 20%;
    }    
}

.detail-stack{
    display: flex;
    border:1px solid white;
    background-color: var(--secondary-tint1);
    padding: f.rem(24) f.rem(4) f.rem(24) f.rem(24);
    margin:f.rem(48) 0 0 0;
    width: 80%;
    height: 20%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.stack-open{
    color:var(--primary-grayscale9);
    font-size: 24pt;
}

.detail-tech{
    margin:f.rem(4) f.rem(12) f.rem(4) f.rem(8);
    padding: f.rem(4) f.rem(8) f.rem(8) f.rem(12);
    border-bottom: 2pt solid var(--primary-grayscale9);
    color:var(--primary-grayscale9);
    &::after{
        content:" ,";
    }
}

.last{
    &::after{
        content:"";
    }
}

.stack-close{
    color:var(--primary-grayscale9);
    font-size: 24pt;
}

.detail-description{
    width: 80%;
    margin: f.rem(24) 0 f.rem(4) 0;
    padding: 0 0 0 f.rem(8);
}

.detail-link{
    padding: f.rem(24) 0 f.rem(24) 0;
}

.detail-deploy{
    padding: f.rem(8) f.rem(24) f.rem(8) f.rem(24);
    font-size: f.rem(24);
    font-family: var(--title-font);
    border:2pt solid var(--primary-grayscale9);
    border-radius: f.rem(64);
    background-color: var(--secondary-tint1);
    a{
        color:var(--primary-grayscale9);
    }
}

.detail-deploy:hover{
    background-color: var(--primary-grayscale9);
    border:2pt solid var(--primary-shade1);
    a{
        color:var(--primary-shade1);
    }
}

.detail-deploy:active{
    background-color: var(--secondary-shade1);
    border:2pt solid var(--primary-tint5);
    a{
        color:var(--primary-tint5);
    }
}

.detail-source{
    display: flex;
    flex-direction: column;
    margin:f.rem(8) 0 f.rem(32) 0;
    padding:f.rem(16) f.rem(16) f.rem(16) f.rem(16);
    a{
        color: var(--primary-grayscale9);
    }
}

.source-link{
    margin: f.rem(8) 0 f.rem(8) 0;
    font-size: 16pt;
    background-color: var(--secondary-tint1);
    color:var(--primary-grayscale9);
    border-radius: f.rem(64);
    padding: f.rem(8) f.rem(16) f.rem(8) f.rem(16);
    &::before,&::after{
        transition: opacity 0.2s ease,
        transform 0.3s ease;
        position:relative;
        @include b.breakpoint(large){
            opacity:0;
        }
    }

    &::before{
        content:"<<";
        transform: translateX(20px);
        margin-right: .2em;
    }

    &::after{
        content:">>";
        transform: translateX(-20px);
        margin-left:.2em;
    }

    &:hover{
        background-color:var(--primary-tint5);
        color:var(--secondary-tint2);
        border-right: 6pt solid var(--secondary-tint2);
        border-left: 6pt solid var(--secondary-tint2);
        cursor: pointer;
        &::before,&::after{
            opacity:1;
            transform: translateX(0);
        }
    }

    &:active{
        background-color: var(--secondary-tint3);
        color:var(--primary-tint5);
        border-right: 6pt solid var(--primary-tint5);
        border-left: 6pt solid var(--primary-tint5);
    }

    &.enclosing{
        &::before{
            transform:translateX(-20px);
        }
        &::after{
            transform:translateX(20px);
        }
        &:hover{
            &::before{
                transform:translateX(0px);
            }
            &::after{
                transform:translateX(0px);
            }
        }
    }

}

.back-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:f.rem(24) 0 f.rem(64) 0;
}

.back-button{
    font-size: 18pt;
    background-color: var(--primary-tint4);
    color:var(--primary-grayscale9);
    border:2pt solid var(--primary-grayscale9);
    padding: f.rem(8) f.rem(32) f.rem(8) f.rem(32);
}

.back-button:hover{
    color:var(--primary-tint4);
    background-color: var(--primary-grayscale9);
    border:2pt solid var(--primary-tint4);
    cursor: pointer;
}

.back-button:active{
    background-color: var(--primary-tint2);
    color:var(--primary-grayscale9);
    border:2pt solid var(--primary-grayscale9);
}