@use '../base/functions' as f;

#Techs_container{
    background-color: var(--panel-color);
    border-radius: f.rem(10);
    img{
        margin: f.rem(10);
        width: f.rem(100);
        height: f.rem(100);
    }
}